body, #root, .App, .App-header {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }

  .back-button-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 80px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    flex-grow: 1;
  }
  
  .grid-item {
    flex: 1 0 60%;
    max-width: 35%;
    margin: 0.5rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
    }
  
    p {
      margin: 0.5rem 0;
      font-size: 0.8rem;
    }
  }

  .item-list-container {
    height: 100vh;
    overflow-y: auto;
  }
  
  @media (max-width: 1200px) {
    .grid-item {
      flex: 1 0 25%;
      max-width: 25%;
    }
  }
  
  @media (max-width: 800px) {
    .grid-item {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .grid-item {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }